<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Convertible-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ConvertibleTests-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A25AF3111B3B17A0009ABDE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A25AF31B1B3B17A0009ABDE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A25AF3301B3B17DF009ABDE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A25AF3391B3B17DF009ABDE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A25AF34C1B3B183F009ABDE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A25AF3551B3B183F009ABDE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A25AF3681B3B184F009ABDE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A25AF3711B3B184F009ABDE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A25AF3841B3B1A3F009ABDE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A25AF38D1B3B1A3F009ABDE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A25AF3A01B3B1AAA009ABDE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A25AF3A91B3B1AAA009ABDE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A25AF3C61B3B1BAB009ABDE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A25AF3D51B3B1BDB009ABDE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A25AF3EC1B3B1D2D009ABDE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A25AF4691B3B23B9009ABDE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A25AF4721B3B23BA009ABDE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
